* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*==== Color Palette ====*/
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-700: hsl(228, 45%, 44%);
  --color-slate-900: hsl(218, 44%, 22%);

  font-family: "Outfit", sans-serif;
  text-align: center;
}

body {
  background-color: var(--color-slate-300);
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: min(0.93rem, 1rem);
  line-height: 1.5;
  gap: 1rem;
}

main {
  background-color: var(--color-white); 
  width: 90%;
  max-width: 24rem;
  border-radius: 1rem;
  padding: 1.5rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  /*margin-bottom: 1rem;*/
  margin-block-end: 1rem;
  writing-mode: horizontal-tb;
}

h1 {
  color: var(--color-slate-900);
  font-size: 1.8em;
  font-weight: 700;
  /*margin-bottom: 1rem;*/
  margin-block-end: 1rem;
  writing-mode: horizontal-tb;
  max-width: 96%;
}

main p {
  color: var(--color-slate-500);
  font-size: 1.3em;
  font-weight: 400;
  /*margin-bottom: 1rem;*/
  margin-block-end: 1rem;
  writing-mode: horizontal-tb;
  max-width: 94%;
}

.attribution {
  font-size: 0.7em;
  text-align: center;
}

.attribution a {
  color: var(--color-slate-700);
}


/* ==== Media queries for larger screens ====*/

@media screen and (min-width:43.75rem) {
  main {
   width: 40%;
   max-width: 16rem;
   height: auto;
   padding: 1rem;
  }

  h1 {
   font-size: 1.2em;
  }

  main p {
    font-size: 0.9em;
    margin: 0 auto;
  }
}
